@import 'reset.css';
@import 'jquery.ui.css';

@fz=11px;

.ui-widget {
	font-size: @fz !important;
}

.header {
	.ui-widget-header;
       	.ui-corner-all;
	.ui-widget;
	padding: 5px 5px;
}

.container {
	overflow:auto;
}

.toolbar {
	.header;
	.container;
}

.right {
	float:right;
}

textarea.text_input, input.text_input {
       	.ui-corner-all;
	padding: 5px 5px;
	.ui-widget;
	border: 1px solid #C5DBEC;
}

table.datagrid {
	background: #A6C9E2;
	border-collapse: separate;
	border-spacing: 1px;
	.ui-corner-all;
	thead {
		.ui-corner-all;
		th {
			.ui-widget-header;
			.ui-widget;
			border:none;
			padding: 2px 2px;
			text-align:center;
			cursor: move;
		}
		th:first-child {
			.ui-corner-tl;
		}
		th:last-child {
			.ui-corner-tr;
		}
	}
	tbody {
		.active td {
			background: #D0E5F5;
		}
		.checked td {
			background: #FBEC88;
		}
		tr{
			cursor: pointer;
			td {
				background: white;
				.ui-widget;
				padding: 2px 2px;
				text-align:center;
			}
		}
	}
	tfoot {
		tr{
			td {
				.ui-corner-bottom;
				background: white;
				padding: 5px;
			}
		}
	}
}

form {
	.action {
		margin-top: 20px;
	}
	dl {
		margin: 5px;
	}
}

body {
	font-size: @fz;
	#users_result {
		padding: 10px 10px;
		margin:auto;
		#users_control {
			.combobox {
				margin-left: 34px;
			}
		}
		.datagrid {
			margin-top: 10px;
			width: 100%;
		}
	}
	#groups_result {
		padding: 10px 10px;
		margin:auto;
		#groups_control {
			.combobox {
				margin-left: 34px;
			}
		}
		.datagrid {
			margin-top: 10px;
			width: 100%;
		}
	}

	#choose_user_dialog {
		#user_search {
			margin-bottom: 5px;
		}
	}
}
